<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'core/base.html' %}
    {% block title %}edit-student{% endblock title %} 
    {% block main_contant %}
    <section class="container">
      <div class="row justify-content-around text-center text-white mt-5">
        <div class="col-sm-8 ">
          <h3>CRUD project in python django</h3>
        </div>
      </div>
      <div class="row justify-content-around mt-3">
        <div class="col-sm-4">
            <form action="" method="POST" class="bg-white p-3 rounded shadow">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
      </div>
      
    
    {% endblock main_contant %}
  </body>
</html>

